@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-playfair: var(--font-playfair);
  --font-cairo: var(--font-cairo);
  --font-ibm-plex: var(--font-ibm-plex);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* النصوص الإنجليزية */
body {
  background: transparent;
  color: var(--foreground);
  font-family: var(--font-ibm-plex), sans-serif;
}

/* النصوص العربية */
body[dir="rtl"] {
  font-family: var(--font-cairo), sans-serif;
}

/* للعناوين */
.font-playfair {
  font-family: var(--font-playfair), serif;
}

.font-cairo {
  font-family: var(--font-cairo), sans-serif;
}

.font-ibm-plex {
  font-family: var(--font-ibm-plex), sans-serif;
}
